<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>XXX新闻</title>
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.js}" ></script>
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7-dist/js/jquery-1.7.2.min.js}" ></script>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/index.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/slide-unlock.css}" />
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7-dist/js/index.js}"></script>

</head>

<body>
<div class="index-head">
    <div class="col-md-2 col-md-offset-10 col-xs-3 col-xs-offset-9">
        【设为首页】【加入收藏】
    </div>
</div>
<div id="index" class="col-md-12">
    <div class="col-md-12" id="index-news-title">
        标题
    </div>
    <div class="col-md-12" id="index-news-data">
        发布时间: 2019-05-16 10:10:02 &nbsp;&nbsp;&nbsp; 发布者: 六六六
    </div>
    <div class="col-md-8 col-md-offset-2" id="index-news-content">
        <p style="text-indent:2em;">
            各教学单位： 为了进一步提升我校科研水平，调动广大教师科研的积极性，夯实科研基础。经学校研究，现将申报2018年度校级科研项目的有关事宜通知如下：
        </p>
        <p style="text-indent:2em;">
            一、申报要求
        </p>
        <p style="text-indent:2em;">
            1、原则上每位教师利用暑假期间至少申报一项校级科研课题，鼓励跨学科、跨专业多申报。
        </p>
        <p style="text-indent:2em;">
            2、课题主持人须是我校在岗教职工，鼓励与校企合作单位联合申报，合作单位人员不能作为课题主持人申报。
        </p>
        <p style="text-indent:2em;">
            二、申报与评审程序
        </p>
        <p style="text-indent:2em;">
            1、申请人填写《江西先锋软件职业技术学院科研项目申请书》，申请书一律用A4纸正反打印。
        </p>
        <p style="text-indent:2em;">
            2、各教学单位要组织本单位教师积极申报。在组织申报过程中，要对申报材料严格把关，保证质量。
        </p>
        <p style="text-indent:2em;">
            3、课题申报截止时间：2018年8月30日。
        </p>
        <p style="text-indent:2em;">
            4、申报材料由各教学单位统一报科研处岑莉处，学校将组织专家对申报课题进行评审立项，并按评审等级给予奖励。
        </p>
        <p style="text-indent:2em;">
            附：1、江西先锋软件职业技术学院科研课题选题
        </p>
        <p style="text-indent:2em;">
            2、江西先锋软件职业技术学院科研课题申请书 学校办公室 2018年7月10日
        </p>
        <p style="text-indent:2em;">
            <br />
        </p>

        <div class="index-news-kit col-md-3 col-xs-3">
            <a href="#">上一篇:校运动会</a>
        </div>
        <div class="index-news-kit col-md-3 col-md-offset-6 col-xs-3">
            <a href="#">下一篇:端午节</a>
        </div>
    </div>
</div>

<div class="index-bottom col-md-12 col-xs-12">
    学校地址：XXX 邮编：000000 电话0000-0000000 <br> 版权归XXX所有
</div>
</body>

</html>
