<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>XXX新闻</title>
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.js}" ></script>
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7-dist/js/jquery-1.7.2.min.js}" ></script>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/index.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/index-news.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/slide-unlock.css}" />
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7-dist/js/index.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/index-news.css}" />

</head>

<body>
<div class="index-head">
    <div class="col-md-2 col-md-offset-10 col-xs-3 col-xs-offset-9">
        【设为首页】【加入收藏】
    </div>
</div>
<div id="index" class="col-md-12">
    <div class="col-md-12" id="index-news-title">
        <span th:text="${notice.noticeTitle}"></span>
    </div>
    <div class="col-md-12" id="index-news-data">
        发布时间:  <span th:text="${#dates.format(notice.noticeTime,'yyyy-MM-dd')}"></span>
        &nbsp;&nbsp;&nbsp;
        发布者: <span th:text="${notice.staffInfo.staffName}"></span>    </div>
    <div class="col-md-8 col-md-offset-2" id="index-news-content">
        <span th:utext="${notice.noticeContent}"></span>

        <div class="index-news-kit col-md-3 col-xs-3">
            <a href="#">上一篇:校运动会</a>
        </div>
        <div class="index-news-kit col-md-3 col-md-offset-6 col-xs-3">
            <a href="#">下一篇:端午节</a>
        </div>
    </div>
</div>

<div class="index-bottom col-md-12 col-xs-12">
    学校地址：XXX 邮编：000000 电话0000-0000000 <br> 版权归XXX所有
</div>
</body>

</html>
