<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7-dist/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/front-desk/student_idnex.css}">
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7-dist/js/front-desk-student.js}"></script>
</head>
<body id="right-body">
    <div id="student-info-div" class="col-md-4 col-md-offset-1">
        <div id="student-info-title">
            <span>个人信息</span>
        </div>
        <div id="student-info-name">
            蛋蛋
        </div>
        <div class="student-info col-md-12">
            <div class="col-md-4">
                学号: 201700000311
            </div>
            <div class="col-md-4">
                班级: 17java班
            </div>
            <div class="col-md-4">
                性别: 男
            </div>
        </div>
        <div class="student-info col-md-12">
            <div class="col-md-4">
                出生日期: 1998-10-1
            </div>
            <div class="col-md-4">
                名族: 汉族
            </div>

            <div class="col-md-4">
                籍贯: 江西
            </div>
        </div>
        <div class="student-info col-md-12">
            <div class="col-md-4">
                健康状态: 健康
            </div>
            <div class="col-md-4">
                身份证号码: 1235487456984521
            </div>
            <div class="col-md-4">
                入学时间: 2017-09-01
            </div>
        </div>
        <div class="student-info col-md-12">
            <div class="col-md-4">
                是否党团员: 共青团员
            </div>
            <div class="col-md-4">
                电话号码: 12124578412
            </div>
            <div class="col-md-4">
                QQ: 2546541245
            </div>
        </div>
        <div class="student-info col-md-12">
            <div class="col-md-4">
                家庭地址: 江西省XX市XX村XX号
            </div>
            <div class="col-md-4">
                家庭电话: 201700000311
            </div>
            <div class="col-md-4">
                专业: 软件技术(java软件开发方向)
            </div>
        </div>
        <div class="student-info col-md-12">
            <div class="col-md-4">
                所在分院: 信息分院
            </div>
            <div class="col-md-4">
                学制: 三年
            </div>
            <div class="col-md-4">
                城市: 南昌
            </div>
        </div>
        <div class="student-info col-md-12">
            <div class="col-md-4">
                学籍状态: 正常
            </div>
            <div class="col-md-8">
                备注: XXXXXXXXX
            </div>
        </div>

    </div>
</body>
</html>