<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>密码重置</title>
		<script type="text/javascript" th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.js}" ></script>
		<link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}" />
		<link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/index.css}" />
	</head>
	<body>
		<div class="index-head">
			<div class="col-md-2 col-md-offset-10 col-xs-3 col-xs-offset-9">
				【设为首页】【加入收藏】
			</div>
		</div>
		<div class="index-">
			
		</div>
		
				<div class="index-bottom col-md-12 col-xs-12">
			学校地址：XXX 邮编：000000 电话0000-0000000 <br> 版权归XXX所有
		</div>
	</body>
</html>
